@use "@/style/variable" as *;

.component-container {
  background-color: $dark-purple-color;
  margin-top: 100px;

  @include tablet {
    margin-top: 0;
  }

  .content {
    position: relative;
    width: 100%;
    padding: 100px 15px 50px;
    color: $white-font-color;

    @include tablet {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      height: 700px;
      margin: 0 auto;
      padding: 0 20px 15px;
    }

    @include desktop {
      width: 85%;
    }

    .text-area {
      width: 100%;

      @include tablet {
        width: 42%;
        margin-top: 100px;
      }

      .greeting-box {
        width: 190px;
        height: 60px;
        border-radius: 4px;
        background-color: #52182E;

        @include tablet {
          width: 170px;
          height: 50px;
        }

        span {
          width: 100%;
          display: inline-block;
          padding-top: 15px;
          text-align: center;
          letter-spacing: 1.5px;
          font-size: 18px;

          @include tablet {
            padding-top: 12px;
          }
        }
      }

      .name-box {
        margin-top: 30px;

        span {
          display: block;
          text-align: start;
          font-size: 24px;
          font-weight: 450;

          @include tablet {
            font-size: 35px;
          }
        }

        small {
          display: block;
          margin-top: 15px;
          text-align: start;
          font-size: 14px;

          @include tablet {
            font-size: 16px;
          }
        }
      }

      .introduce-box {
        margin-top: 30px;

        span {
          display: block;
          margin-top: 15px;
          line-height: 2;
          text-align: start;
          font-size: 13px;
          font-weight: 350;

          @include tablet {
            font-size: 14px;
          }
        }
      }
    }

    .image-area {
      display: none;

      @include tablet {
        position: relative;
        display: flex;
        align-items: center;
        width: 50%;
  
        img {
          width: 100%;
          aspect-ratio: 1 / 1;
          margin: 0 auto;
        }
      }
    }

    .follow-me-area {
      display: none;

      @include desktop {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 20px;
        top: 250px;
        right: -210px;
        transform: rotate(90deg);
  
        span {
          font-size: 18px;
          font-weight: 500;
          color: #B02148;
        }
  
        .line {
          width: 70px;
          height: 2px;
          background-color: #B02148;
        }
  
        .icon-box {
          display: flex;
          gap: 20px;
          align-items: center;
  
          svg {
            transform: rotate(-90deg);
  
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}